<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p><b>Transações:</b></p>

    <ul>
    {% for transacao in transacoes %}
        <li><a href="{% url 'url_alterar' transacao.id %}"> {{transacao.data}} - {{transacao.descricao}} -
                R${{transacao.valor}} - {{transacao.categoria}}</a></li>
    {% endfor %}
    </ul>

    <a href="{% url 'url_nova_transacao' %}">Nova Transação</ahref>

</body>
</html>